.btn {
  border: none;
  color: white;
  padding: 14px 66px;
  cursor: pointer;
}
.ok {
  background-color: #2196f3;
}
.ok:hover {
  background: #0b7dda;
}

.btn2 {
  border: none;
  color: white;
  padding: 20px 34px;
  font-size: 16px;
  cursor: pointer;
}

.guest {
  background-color: #2196f3;
}
.guest:hover {
  background: #0b7dda;
}
